* {
    margin: 0;
    padding: 0;
}

body {
    height: 3000px;
}

html {
    background-color: black;
}

.container1 {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-wrap: wrap;
    justify-content: space-around;

}


.item1 {
    color: white;
}

p {
    font-size: 45px;
    font-family: 'Racing Sans One', cursive;
    color: white;
    
}

form {
    margin-left: 40%;
}

.btn {
    background-color: #615d5c;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
.btn:hover {
     opacity: 2;
  }

  .formInput {
    border: 2px solid red;
    border-radius: 4px;
    text-align: center;
  }

 .output p {
     height: 300px;
     width: 100%;
     color: white;
     font-family:'Racing Sans One', cursive;
     font-size: xxx-large;
 }

 .output-container {
     display: flex;
     justify-content: center;
 }


 #leftgear {
    width: 30vw;
    /*max-width: 50%;*/
    height: auto;
}

.container2 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #615d5c;
    max-width: 650px;
    margin-top: 40px;
    margin-left: 25%;
    border-radius: 10px;

}

.container3 {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #615d5c;
    max-width: 650px;
    margin-top: 40px;
    margin-left: 25%;
    border-radius: 10px;

}

.conversion {
    font-size: 5px;
    font-family: 'Racing Sans One', cursive;
    color: white;
}

.question {
    font-size: 55px;
    font-family: 'Shadows Into Light', cursive;
    color: white;
}